@import "../../sass/_variables";
@import "../../sass/_extends";
@import "../../sass/_mixins";

.simple-animation{
  display:none;
  transition: all .3s ease;
}
.simple-animation.fade{
  opacity:0;
  &.in{
    opacity:1;
  }
}
.simple-animation.translateX{
  transform:translate3d(10px,0,0);
  &.in{
    transform:translate3d(0,0,0)
  }
}